{{>header}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto main-div">
                    <div class="notFound">
                        <figure>
                        <img style="width:500px" src="./images/404.png" alt="page not found" class="img-fluid" title="my website"> 
                        </figure>
                        <a href="/"><button class="btn btn-md btn-primary">Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>footer}}